option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: twitterquery/twitterquery/wsgiaws.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: twitterquery.aws_settings

container_commands:
  django_migrate:
    command: "twitterquery/manageaws.py migrate"
    leader_only: true