option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: twitterquery.aws_settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: twitterquery/twitterquery/wsgiaws.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: twitterquery/static/
    /tq: query/

container_commands:
  django_migrate:
    command: twitterquery/manageaws.py migrate
    leader_only: true
  django_collect_static:
    command: twitterquery/manageaws.py collectstatic -c --noinput