option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: twitterquery/wsgiaws.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: twitterquery.aws_settings

container_commands:
  django_migrate:
    command: "./manageaws.py migrate"
    leader_only: true
  django_collect_static:
    command: "./manageaws.py collectstatic -c --noinput"